<br>
<button (click)="genererVoyage()">Générer un voyage</button>

<table>
    <thead>
        <tr>
            <th>Distance</th>
            <th>Consommation</th>
            <th>CO2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let voyage of voyages">
            <td>{{ voyage.distanceKm }} km</td>
            <td>{{ voyage.consommationPour100Km }} L</td>
            <td>{{ voyage.quantiteCO2 }} kg</td>
        </tr>
    </tbody>
</table>

<p>Distance totale : {{ distanceKm }} km</p>
<p>Consommation totale : {{ consommationPour100Km }}</p>
<p>Quantité totale de CO2 : {{ quantiteCO2Totale }} kg</p>